[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
paramiko = "*"
pyqt5-stubs = "==5.15.2.0"
pyqtwebengine = "*"
nuitka = "*"
pyqt5-tools = "*"

[dev-packages]

[requires]
python_version = "3.9"
